/* Define Variables */
:root {
    --header-bg-color: #a35a65;
    --border-color: black;
    --font-family-primary: 'Franklin Gothic Medium', 'Helvetica', 'Arial Narrow', Arial, sans-serif;
    --font-family-secondary: 'PhilosopherFont', Arial, sans-serif;
    --font-size-h1: 5rem;
    --font-size-info: 1.5rem;
    --font-size-small: 1rem;
    --font-size-smaller: 0.75rem;
    --border-radius: 10px;
    --gap: 20px;
    --box-bg-color: #fffafa;
    --text-color: black;
    --link-color: #b00c25;
    --link-hover-color: #0066cc;
    --transition-time: 0.3s;
    --shadow-color: #e7f0f9;
}

/* Font Face */
@font-face {
    font-family: 'PhilosopherFont';
    src: url('fonts/Philosopher-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General Styles */
body {
    font-family: var(--font-family-primary);
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    position: relative;
    border: 2px solid var(--border-color);
    background-color: var(--header-bg-color);
    color: white;
    height: 125px;
}

.header-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-image {
    height: 100px;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12.5%;
    right: 25%;
}

.header-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
    right: 20%;
}

.header-text h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-family-secondary);
}

.header-info {
    margin: 0;
    font-size: var(--font-size-info);
    margin-top: 5px;
}

/* CV Icon Styles */
.cv-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: 30px;
}

.cv-icon-image {
    height: 100px;
    width: auto;
    opacity: 0.5;
    transition: opacity var(--transition-time);
}

.cv-icon-image:hover {
    opacity: 1.0;
}

/* Container and Sidebar Styles */
.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.sidebar {
    background-color: var(--box-bg-color);
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    margin: 20px;
    overflow-x: auto;
}

.profile-image {
    height: auto;
    width: 90%;
    border-radius: var(--border-radius);
    box-shadow: 4.5px 4.5px 9px 2.25px var(--shadow-color);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    align-items: top;
    overflow: scroll;
    width: 66.6%;
}

/* Info Boxes Styles */
.info-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap);
    width: 100%;
    max-width: 1000px;
}

.info-box, .about-box {
    background-color: var(--box-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    overflow: hidden;
    cursor: default;
}

.info-box h3, .about-box h3 {
    margin: 0 0 10px 0;
    font-size: 1.75rem;
    text-align: center;
}

.info-box h4 {
    margin: 0 0 10px 0;
    font-size: 1.25rem;
    text-align: center;
}

.info-box p, .about-box p {
    margin: 0;
    text-align: left;
    font-size: var(--font-size-small);
}

.citation {
    text-indent: -1.5em;
    padding-left: 1.5em;
    margin-bottom: 10px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 8px;
    background-color: var(--box-bg-color);
    font-weight: bold;
}

td {
    text-align: right;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--shadow-color);
}

.sidebar table {
    width: 100%;
    border-collapse: collapse;
}

.sidebar th, .sidebar td {
    padding: 8px;
    font-size: 0.9rem;
}

.sidebar th {
    background-color: inherit;
    font-weight: bold;
}

.sidebar tr td:first-child {
    padding-right: 10px;
}

.section-divider th, .section-divider td {
    border-top: 1px solid var(--border-color);
    padding-top: 8px;
}

/* Logo Styles */
.logo {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 92px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.logo-shrink {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 75px;
    margin-bottom: 10px;
    padding-right: 10px;
}

/* Entry Styles */
.entry {
    margin-bottom: 20px;
}

.entry-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.institution {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-decoration: underline;
    text-align: center;
}

.degree {
    font-size: 1rem !important;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 0.8rem;
    color: #888;
    text-align: right;
    flex: 1;
}

.description {
    margin: 10px 0;
    font-size: 0.9rem;
}

hr {
    border: none;
    border-top: 1px solid #f9cdd3;
    margin: 10px 0;
}

/* Teaching Section Styles */
.teaching-section {
    margin-top: 5px;
}

.course-code {
    font-size: 1.1rem !important;
    margin: 0;
    text-decoration: underline;
}

.sems {
    font-size: 0.9rem !important;
    color: var(--link-color);
    text-decoration: none;
    text-align: center;
    flex: 1;
}

.sems:hover {
    text-decoration: underline;
}

/* Photo Gallery Styles */
.photo-gallery {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 0;
}

.small-photos {
    max-width: 275px;
    width: auto;
    height: 400px;
    border: 1px solid;
    border-radius: 15px;
    scroll-snap-align: center;
    object-fit: cover;
}

figure {
    margin: 0;
    padding: 5px;
}

figcaption {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: var(--font-size-smaller);
}

/* Responsive Styles */
@media (max-width: 812px) {
    .header-box {
        flex-direction: column;
        align-items: center;
    }

    .header-image {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2.5%;
        height: 75%;
        width: auto;
    }

    .header-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 22%;
        right: 20%;
    }

    .header-text h1 {
        font-size: 2.75rem;
    }

    .cv-icon {
        position: absolute;
        top: 10%;
        right: 2.5%;
        margin-left: 0px;
    }

    .cv-icon-image {
        height: 90px;
        width: auto;
        opacity: 0.5;
        transition: opacity var(--transition-time);
    }

    .main-content {
        width: 100%;
        padding: 5px;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
    }

    .sidebar {
        width: 100%;
        margin: 0;
    }

    .info-boxes {
        grid-template-columns: 1fr;
    }
}
